@media screen and (max-width: 768px) {

.col-3 {
    width: 100%;
}

.col-9 {
    width: 100%;
}

/* #bike {
    position: relative;
    animation: bikeMove 5s infinite;
    animation-timing-function: ease;
    @keyframes bikeMove {
        from {left: 0px;}
        to {left: 600px}
    } */

}

}
    
